<div class="modal-overlay" (click)="onClickOutsideModal()">

    <div class="modal-body" (click)="cancelClick($event)">

        <div class="close-icon">
            <ng-content select="i"></ng-content>
            <!-- ng-content with select i retrieves the icon defined in the au-modal of the app component html -->
            <!-- so ng-content retrieves everything content from the inside of au-modal in app component html -->
        </div>



        <ng-container *ngIf="body else projectContent">

            <ng-container *ngTemplateOutlet="body;context:context"></ng-container>

        </ng-container>


        <ng-template #projectContent>

            <ng-content></ng-content>

        </ng-template>

    </div>

</div>

